@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Special+Elite&family=Pacifico&family=Bangers&family=Dancing+Script:wght@400;700&display=swap');

/* 
  'Homemade Apple' - Handwriting
  'Special Elite' - Typewriter
  'Pacifico' - Valentine/Love
  'Dancing Script' - Used as proxy for Limoncello Recipe
  'Bangers' - Comic/Fun
*/
